.profile__button-edit {
  padding: 0;
  width: 18px;
  height: 18px;
  background-size: 7.5px;
  border: 1px solid white;
  background-image: url("../../../images/buttonedit.svg");
  outline: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}
.profile__button-edit:hover {
  opacity: 0.6;
  transition: ease 1s;
}
@media screen and (min-width: 768px) {
  .profile__button-edit {
    background-size: 10px;
    width: 24px;
    height: 24px;
  }
}