.popup__input-save {
  padding: 0;
  border: none;
  margin: 10px 0 0 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  height: 46px;
  border-radius: 2px;
  cursor: pointer;
}
@media screen and (min-width: 550px) {
  .popup__input-save {
    font-size: 18px;
    height: 50px;
    margin-top: 10px;
  }
}
.popup__input-save:hover {
  opacity: 0.6;
  transition: ease 1s;
}
