.profile__info {
  font-style: normal;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin: 11px 0 0 0;
  max-width: 282px;
}
@media screen and (min-width: 768px) {
  .profile__info {
    text-align: start;
    font-size: 18px;
    line-height: 22px;
    margin-top: 7px;
    margin-left: 30px;
    max-width: 336px;
  }
}
