.profile__info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin: 14px 19px 0;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .profile__info {
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0;
  }
}
